@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html,
  body {
    @apply h-full;
    direction: rtl;
  }
  ,
  .rtl {
    direction: rtl;
  }

  .ltr {
    direction: ltr;
  }
}
